<div class="footgary" >
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-4">
						<ul class="contact">
							<li>Contact Us</li>
							<li>(858)-600-2200</li>
							<li>www.northcountypetsitting.com</li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6">
						<form method="post" action="#">
						<ul class="footinput">
							<li>Subscribe to our newsletter</li>
							<li>
								<div>First Name</div>
								<div><input type="text" placeholder="First Name" required></div>
							</li>
							<li>
								<div>Last Name</div>
								<div><input type="text" placeholder="Last Name" required></div>
							</li>
							<li>
								<div>Email</div>
								<div><input type=email placeholder="Email Address" required></div>
							</li>
							<li>
								  <input type="checkbox" required> 
								 I accept the Privacy  Policy 
								 
									 </li>
							<li>
								<span><input type="submit" value="Join Us!"></span>
							</li>
							
						</ul>
						</form>
					</div>
					<div class="hidden-sm hidden-xs col-md-2">
						<img src="/images/certificate.png" alt="certificate">
					</div>
				</div>
			</div>
		</div>
		<div class="footblack" >
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<ul>
							<li>Privacy  Policy | Sitemap</li>
							<li>Copyright &copy;2015 North County Pet Sitting. All rights reserved.</li>
						</ul>
					</div>
					
					<div class="col-md-4">
						<ul class="social">
						<li><a href="#">
							<img    src="/images/social-t-g.png"  alt=""></a>
						</li>
						<li><a href="#">
							<img  src="/images/social-y-g.png" alt=""></a>
						</li>
						<li><a href="#">
							<img   src="/images/social-f-g.png" alt=""></a>
						</li>
						<li><a href="#">
							<img   src="/images/social-r-g.png" alt=""></a>
						</li>
						<li><a href="#">
							<img src="/images/social-g-g.png" alt=""></a>
						</li>	
					</ul>
					</div>
								
				</div>
			</div>
			
			<div id="gotop"><a href="javascript:void();" onclick="$('#thisistop').animatescroll({scrollSpeed:2000});"><img src="images/gotop.gif" ></a></div>
</div>
		</div>
