#gmenu,
#gmenu ul,
#gmenu ul li 		{
						list-style: none;
						line-height: 2em;
						margin: 0px;
						padding: 0px;
						z-index: 1000;
					}


#gmenu 				{
						margin: 0 auto; 
						text-align: left;
						height: 30px;
						font-family: 'Roboto';
						font-size: 1.5em;
						 
				
					}
#gmenu ul			{
					 
}
#gmenu a 			{
					 
						text-decoration: none;
						font-family: 'Roboto';
						font-weight: 400;
						color: darkgray;
					}
#gmenu a:hover,
#gmenu a:visited      {
						color: black;
						text-decoration: none;
					}


#gmenu li li 		{font-size:16px;}

#gmenu>ul li		{
						padding: 0px;
						white-space:nowrap;
						overflow: hidden;
					}
#gmenu>ul ul>li     {
						border-top: 1px solid #888;
    					border-bottom: 1px solid #fff;
}



.gmenuhighlight{
	 
}
.gmenuhightlightfont{
	 
}
 

/*#gmenu>ul>li{float: left;}ccff66//*/
